extends layout_default

block content
  div(style="margin:auto;")
    section.text-center
      img.img_fluid(src="./images/adobe.png" alt="adobe logo" width="70%" height="70%")
    section.d-flex.justify-content-center
      span.font-weight-bold
        | ECID
    section.d-flex.justify-content-center
      input.form-control#customUserIdField(type="text" placeholder="ECID" aria-label="ECID")
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold.mb-0
        | Send Events
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-danger#btnSendEvent
        | Send Event
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold.mb-0
        | Send Web Details
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-danger#btnSendWebDetails
        | Send Web Details
block append-script
  script.
    $(() => {

      console.log('edgeConfigId', "#{edgeConfigId}");
      console.log('orgId', "#{orgId}");
      var edgeConfigId = "#{edgeConfigId}";
      var orgId = "#{orgId}";

      window.__alloyCall.configureAlloy(edgeConfigId, orgId);
      // Send Event
      $('#btnSendEvent').on('click', (e) => {
        e.preventDefault();
        
        window.__alloyCall.sendCustomEvent('customEvent', "#{pageName}");
      });

      // Web Login Event
      $('#btnSendWebDetails').on('click', (e) => {
        e.preventDefault();
        window.__alloyCall.sendPageView("#{pageName}");
      });
    });