doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible" content="IE=11;FF=3;OtherUA=4")
    title= title
    link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(href='/static/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    script(src="https://assets.adobedtm.com/5457a4304afb/eddee741a39a/launch-215efecdb576-development.min.js" async)
    script.
      !function(e,a,n,t){var i=e.head;if(i){
      if (a) return;
      var o=e.createElement("style");
      o.id="alloy-prehiding",o.innerText=n,i.appendChild(o),setTimeout(function(){o.parentNode&&o.parentNode.removeChild(o)},t)}}
      (document, document.location.href.indexOf("adobe_authoring_enabled") !== -1, ".personalization-container { opacity: 0 !important }", 3000);
  body.vh-100.m-0.d-flex.flex-column.text-center
    header 
      .navbar.navbar-dark.bg-danger.shadow-sm
        .container
          a.navbar-brand.d-flex.align-items-center(href='/')
            
            i.fas.fa-ad
            
            strong.m1-1 
              | &nbsp;Jason Demo web (Adobe)
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarsExampleDefault 
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href="/") Home 
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href="/target") Target
                a.nav-link(href="/gtm") GTM Singular Event
                a.nav-link(href="/ga") GA4
              li.nav-item
                a.nav-link(href="/mixpanel") Mixpanel
    block content
      
    footer.footer.py-3.bg-danger.mt-auto
      .container
        a.text-white.float-right(href='#') Back to top
        p.m-0.text-center.text-white Copyright © Jason Nam 2025
    script(src='/static/jquery/dist/jquery.min.js')
    script(src='/static/bootstrap/dist/js/bootstrap.bundle.min.js', integrity='sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o', crossorigin='anonymous')
    script(src='/static/bootstrap/js/dist/util.js')
    script(src='https://kit.fontawesome.com/b79cbf5f50.js', crossorigin="anonymous")
    //- script(src="https://cdn.jsdelivr.net/npm/@adobe/alloy@2.6.4/dist/alloy.min.js")
    script(src='/dist/bundle.js')
    script(src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer)
    script.
        window.OneSignalDeferred = window.OneSignalDeferred || [];
        OneSignalDeferred.push(async function(OneSignal) {
            await OneSignal.init({
                appId: "392af5ee-c160-4bcd-af8d-c44da3987da6",
                allowLocalhostAsSecureOrigin: true
            });
        });
    block append-script